positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: flask
    static_configs:
      - targets: 
        - localhost
        labels:
          job: flask
          __path__: /var/log/flask/*.log
